<ion-content>
  <ion-card>
    <ion-card-header class="text-center">
      <ion-item>
        <ion-icon name='list-outline' slot="start"></ion-icon>
        {{'PARCEL_CREATE.BASIC_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'PARCEL.CN_NO' | translate}} </ion-col>
              <ion-col size="6">
                <ion-input  autocomplete="nope"
                 class="value" [(ngModel)]="parcel.CNNo" placeholder=" {{'PARCEL.CN_NO' | translate}}">
                </ion-input>
              </ion-col>        
            </ion-row>           
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'PARCEL.CN_TYPE' | translate}} </ion-col>
              <ion-col size="6" class="value">
                <ion-select multiple="false" cancelText="Cancel" okText="Select" [(ngModel)]="parcel.CNType"
                  placeholder=" {{'PARCEL.CN_TYPE' | translate}}">
                  <ion-select-option *ngFor="let type of cnTypes" value="{{ type }}">
                    {{ type }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name='list-outline' slot="start"></ion-icon>
        {{'PARCEL_CREATE.PACKAGE_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{'PARCEL.QUANTITY' | translate}} </ion-col>
              <ion-col size="6">
                <ion-input   autocomplete="nope" class="value" [(ngModel)]="parcel.Quantity" placeholder=" {{'PARCEL.QUANTITY' | translate}}">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'PARCEL.WEIGHT' | translate}} </ion-col>
              <ion-col size="6">
                <ion-input   autocomplete="nope" class="value" [(ngModel)]="parcel.Weight" placeholder=" {{'PARCEL.WEIGHT' | translate}}">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="text-center">
      <ion-item>
        <ion-icon name='list-outline' slot="start"></ion-icon>
        {{'PARCEL_CREATE.ADDRESS_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>{{'PARCEL.FROM' | translate}} </ion-col>
              <ion-col class="value" size="6">
                <ion-input   autocomplete="nope" [(ngModel)]="parcel.From" placeholder=" {{'PARCEL.FROM' | translate}}">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>{{'PARCEL.TO' | translate}} </ion-col>
              <ion-col class="value" size="6">
                <ion-input   autocomplete="nope" [(ngModel)]="parcel.To" placeholder=" {{'PARCEL.TO' | translate}}">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>{{'PARCEL.RECEIVER' | translate}} </ion-col>
              <ion-col class="value" size="6">
                <ion-input   autocomplete="nope" [(ngModel)]="parcel.Receiver" placeholder=" {{'PARCEL.RECEIVER' | translate}}">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>       
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="goToParcelList()" >
    <ion-icon slot="start" name="close"></ion-icon>
    {{'BUTTONS.CANCEL' | translate}}
  </ion-button>
  <ion-button expand="block" (click)="saveButtonClicked()" >
    <ion-icon slot="start" name="save"></ion-icon>
    {{'BUTTONS.SAVE' | translate}}
</ion-button>
