<!-- under-development.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Under Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>We're sorry!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>This page is currently under development.</p>
    </ion-card-content>
  </ion-card>

  <ion-img src="assets/under-construction.png" alt="Under Construction Image"></ion-img>
</ion-content>
