<ion-header>
  <ion-toolbar id="TitleToolbar" class="text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'RESET_PASSWORD_PAGE.PAGE_TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="animated fadeIn login auth-page">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        {{'USER.ACCOUNT_DETAILS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>          
          <ion-label color="info">
            {{user.email}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label color="info">
            {{user.userName}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="keypad-outline" slot="start"></ion-icon>
        {{'USER.PASSWORDS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item id="UserProfile" class="toolbar-backgorund credentials-area">
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
          <ion-input
            type="password"
            name="Password"
            placeholder=" {{'RESET_PASSWORD.OLD_PASSWORD' | translate}}"
            [(ngModel)]="oldPassword"
          ></ion-input>
        </ion-item>
        <ion-label *ngIf="showOldPasswordValidationMessage" color="danger">
          {{oldPasswordValidationMessage}}
        </ion-label>
        <ion-item id="UserProfile" class="toolbar-backgorund">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          <ion-input
            type="password"
            name="Password"
            placeholder="{{'RESET_PASSWORD.NEW_PASSWORD' | translate}}"
            [(ngModel)]="newPassword"
            (ionChange)="newPasswordTextChanged()"
            autocapitalize="sentences"
            autocomplete="off"
          >
          </ion-input>
        </ion-item>
        <ion-label *ngIf="showNewPasswordValidationMessage" color="danger">
          {{newPasswordValidationMessage}}
        </ion-label>
        <ion-item id="UserProfile" class="toolbar-backgorund">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-icon
            name="checkmark-done-circle-outline"
            slot="start"
          ></ion-icon>
          <ion-input
            type="password"
            name="Password"
            placeholder="{{'RESET_PASSWORD.CONFIRM_NEW_PASSWORD' | translate}}"
            [(ngModel)]="confirmPassword"
          ></ion-input>
        </ion-item>
        <ion-label *ngIf="showConfirmPasswordValidationMessage" color="danger">
          {{confirmPasswordValidationMessage}}
        </ion-label>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="book-outline" slot="start"></ion-icon>
        {{'USER.PASSWORD_INSTRUCTIONS' | translate}}
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="showPasswordStrengthMessage">
          <ion-label class="password-info-text" color="error">
            {{'RESET_PASSWORD.PASSWORD_STRENGTH_MESSAGE' | translate}}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showPasswordStrengthMessage">
          <ion-label class="password-info-text" color="info">
            {{'RESET_PASSWORD.PASSWORD_STRENGTH_LENGTH_CONSTRAINT_MESSAGE' |
            translate}}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showPasswordStrengthMessage">
          <ion-label class="password-info-text" color="info">
            {{'RESET_PASSWORD.PASSWORD_STRENGTH_LOWERCASE_CONSTRAINT_MESSAGE' |
            translate}}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showPasswordStrengthMessage">
          <ion-label class="password-info-text" color="info">
            {{'RESET_PASSWORD.PASSWORD_STRENGTH_UPPERCASE_CONSTRAINT_MESSAGE' |
            translate}}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showPasswordStrengthMessage">
          <ion-label class="password-info-text" color="info">
            {{'RESET_PASSWORD.PASSWORD_STRENGTH_NUMBER_CONSTRAINT_MESSAGE' |
            translate}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="3">
        <ion-button expand="block" (click)="resetButtonClicked()">
          <ion-icon slot="start" name="save"></ion-icon>
          {{'BUTTONS.SAVE' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="3">
        <ion-button expand="block" (click)="cancelButtonClicked()">
          <ion-icon slot="start" name="close"></ion-icon>
          {{'BUTTONS.CANCEL' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
