<div class="parcel-card-area">
<div class="parcel-attribute-area">
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.CN_NO'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.cnNo}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.CN_TYPE'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.cnType}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.RECEIVER'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.receiver}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.MOBILE'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.mobile}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.TO'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.to}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.QUANTITY'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.quantity}}</td>
      </tr>
    </table>
  </div>
  <div class="parcel-attribute-row">
    <table style="width: 100%">
      <tr>
        <td class="parcel-attribute-label">{{'PARCEL.FROM'}}:</td>
        <td class="parcel-attribute-value">{{selectedParcel.parcelFrom}}</td>
      </tr>
    </table>
  </div>
</div>
</div>