<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="user-results">  
    <ion-item class="user-result-cell" *ngFor="let dealer of dealers">
      <ion-avatar slot="start" (click)="userSelected(dealer)">
        <img alt="User" [src]="dealer.icon" />
      </ion-avatar>
      <ion-label (click)="userSelected(dealer)">
        <h2>{{dealer.name}} </h2>
        <h3>{{dealer.userRole}}</h3>
        <p>{{dealer.email}} - {{dealer.phoneNumber}}</p>
      </ion-label>
      <img slot="end" class="status-icon" [src]="dealer.statusIcon">
      <ion-icon name="create-sharp" slot="end" (click)="EditButtonClicked(dealer)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col class="open-space">
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <div  class="text-center pagination-area">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="allowFirst" class="pagination-button" (click)="FirstClicked()">
      
        </ion-col>
        <ion-col *ngIf="allowPrev" class="pagination-button" (click)="PrevClicked()">
        
        </ion-col>
        <ion-col *ngFor="let page of pages" class="pagination-button">
          <ion-button  [disabled]="page===currentPage "  (click)="PageClicked(page)">
            {{page}}
          </ion-button>

        </ion-col>
        <ion-col  *ngIf="allowNext" class="pagination-button" (click)="NextClicked()">
          
        </ion-col>
        <ion-col  *ngIf="allowLast" class="pagination-button" (click)="LastClicked()">
        
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 
</ion-footer>-->
